@import "scrollbar";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: hsl(192, 100%, 9%);
  @include scrollbars(8px, hsl(322, 100%, 66%), #fff);
}

h {
  &1,
  &2,
  &3,
  &4,
  &5,
  &6 {
    font-family: "Poppins", sans-serif;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}
