* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  background: url(../images/bg-desktop-light.jpg) no-repeat, hsl(236, 33%, 92%);
  background-size: 100vw;
  height: 100vh;
  color: hsl(235, 19%, 35%);
  transition: 0.5s ease;
  overflow-x: hidden;
}

ul {
  list-style: none;
}
